.clients {
  fill: var(--color-social-icons);
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  @extend .container;
  @extend .main-page__section-clients;
  @extend .section;

  &__icons {
    width: 170px;
    height: 92px;
    border: 1px solid var(--color-social-icons);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icons:hover,
  &__icons:focus,
  &__icons:active {
    fill: var(--color-mainblue);
    border-color: var(--color-mainblue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
