.logo__web {
  color: var(--color-mainblue);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0, 3em;

  &__studio {
    color: var(--color-studio);
    font-weight: 400;
    margin-right: 93px;
  }

  &--white {
    color: var(--color-white);
  }
}
